{% extends "base.html" %}
{% block nav %}
{% include "nav_user.html" %}
{% endblock %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

<div class="container wrapper flex-grow-1">
  <form method="post">
    {% csrf_token %}
    <h1 class="my-4">{% translate "Delete user" %}</h1>
    <p>{% translate "Are you sure, you want to delete" %} {{ user.first_name }} {{ user.last_name }}?</p>
    <button type="button" class="btn btn-danger">{% translate "Yes, delete" %}</button>
  </form>
</div>

{% endblock %}
